pandas == 2.1.4
numpy == 1.26.4
tensorflow == 2.16.1
spacy == 3.7.4
transformers == 4.41.2
datasets == 2.19.2
scikit-learn == 1.2.2
langchain == 0.2.13
torch == 2.3.0
tf_keras == 2.16.0
langchain_community == 0.2.12
langchain-openai == 0.1.17
python-dotenv == 0.21.0
accelerate == 0.27.2
bert_score ==  0.3.13
rouge-score == 0.1.2
nltk == 3.9.1
rouge == 1.0.1
sentencepiece == 0.2.0

